{% extends 'home/base.html' %}
{% load static %}

{% block content %}

  <!-- Count Bar Start -->
  {% comment %}
  <section id="count">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="count-wrapper text-center">
            <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
              <div id="clock" class="time-count"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
  <!-- Count Bar End -->
  


  <!-- Team Section Start -->
  <section id="team" class="section-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Speakers</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-bt">
        <div class="col-lg-3 col-md-6 col-xs-12">
              <!-- Team Item Starts -->
              <div class="team-item" >
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/newspeaker14.png' %}" alt="">
                </div>
                <div class="info-text">
                  <h3><a href="https://www.microsoft.com/en-us/research/people/satya/" target="_blank">Satya Lokam</a></h3>
                  <p>Senior Researcher</p>
                  <p>Microsoft Research lab, India</p>
                  <span><img src="{% static 'img/speaker-logo14.png' %}" alt="" ></span>
                </div>
              </div>
              <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker31.jpg' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/johnkdevadoss/" target="_blank">John deVadoss</a></h3>
                <p>Head, Development</p>
                <p>NEO blockchain</p>
                <span><img src="{% static 'img/speaker-logo31.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
              <!-- Team Item Starts -->
              <div class="team-item">
                <div class="team-img">
                  <img class="img-fluid" src="{% static 'img/newspeaker15.png' %}" alt="">
                </div>
                <div class="info-text">
                  <h3><a href="https://www.linkedin.com/in/dilip-krishnaswamy-6723ab2/" target="_blank">Dilip Krishnaswamy</a></h3>
                  <p>Vice President- New Technology Initiatives</p>
                  <p>Reliance Jio Infocomm Ltd</p>
                  <span><img src="{% static 'img/speaker-logo15.png' %}" alt="" ></span>
                </div>
              </div>
              <!-- Team Item Ends -->
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker27.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/yanislav-malahov-5025b712/" target="_blank">Yanislav Malahov</a></h3>
                <p>Founder</p>
                <p>aeternity</p>
                <span><img src="{% static 'img/speaker-logo27.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker48.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/sunny-jain-b8a1179/?originalSubdomain=in" target="_blank">Sunny Jain</a></h3>
              <p>Head of Product - Blockchain</p>
              <p>KyberNetwork</p>
              <span><img src="{% static 'img/speaker-logo1.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker09.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.comp.nus.edu.sg/~changec/" target="_blank">Chang Ee-Chien</a></h3>
              <p>Associate professor,Computer Science</p>
              <p>NUS, Singapore</p>
              <span class="img-fluid"><img src="{% static 'img/speaker-logo3.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% comment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker26.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/manishbhatia/" target="_blank">Manish Bhatia</a></h3>
              <p>Chief Technology Officer</p>
              <p>Amazon, India</p>
              <span><img src="{% static 'img/speaker-logo26.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
      </div>
      {% endcomment %}
      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker41.png' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/mahesh-narayanan-505b2227/" target="_blank">Mahesh Narayanan</a></h3>
            <p>Principal PM Manager</p>
            <p>Microsoft, India</p>
            <span><img src="{% static 'img/speaker-logo14.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>


    <div class="col-lg-3 col-md-6 col-xs-12">
      <!-- Team Item Starts -->
      <div class="team-item">
        <div class="team-img">
          <img class="img-fluid" src="{% static 'img/newspeaker44.png' %}" alt="">
        </div>
        <div class="info-text">
          <h3><a href="https://www.linkedin.com/in/manish-jain-7a06b95/" target="_blank">Manish Jain</a></h3>
          <p>Partner - Digital Consulting</p>
          <p>KPMG, India</p>
          <span><img src="{% static 'img/speaker-logo44.png' %}" alt="" ></span>
        </div>
      </div>
      <!-- Team Item Ends -->
     </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker38.png' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/jayasankarpillai/" target="_blank">Jayasankar Pillai</a></h3>
            <p>Associate Partner - Digital Consulting</p>
            <p>IBM, India</p>
            <span><img src="{% static 'img/speaker-log10.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker47.png' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/syedausaf/" target="_blank">Ausaf S. A</a></h3>
            <p>Founder & CEO</p>
            <p>ELEVEN01</p>
            <span><img src="{% static 'img/speaker-logo34.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker33.jpg' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/avinash-pitti-09330933/" target="_blank">Avinash Pitti</a></h3>
            <p>CTO</p>
            <p>Nucleus Vision</p>
            <span><img src="{% static 'img/speaker-logo33.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker34.jpg' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/sponn/" target="_blank">Suresh P</a></h3>
            <p>CTO</p>
            <p>ELEVEN01</p>
            <span><img src="{% static 'img/speaker-logo34.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker28.jpg' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/praphulchandra/" target="_blank">Praphul Chandra</a></h3>
            <p>Founder</p>
            <p>Koinearth</p>
            <span><img src="{% static 'img/speaker-logo28.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker02.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/raghavendradeshmukh/" target="_blank">Raghavendra Deshmukh</a></h3>
              <p>Director,Software Development-Blockchain,SAP </p>
              <span><img src="{% static 'img/speaker-logo2.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker30b.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/calebkow/" target="_blank">Caleb Kow</a></h3>
                <p>President</p>
                <p>Tezos Southeast Asia</p>
                <span><img src="{% static 'img/speaker-logo30.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker29.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/shyam-doddavula-19188620/" target="_blank">Shyam Doddavula</a></h3>
              <p>Associate Vice President</p>
              <p>Infosys</p>
              <span><img src="{% static 'img/speaker-log22.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker16.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/sanjeevnarsipur/" target="_blank">Sanjeev Narsipur</a></h3>
                <p>Managing Director-Blockchain</p>
                <p> Accenture</p>
                <span><img src="{% static 'img/speaker-logo16.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker25.jpg' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/venkatkumars/" target="_blank">Venkat Kumar</a></h3>
                <p>Vice President</p>
                <p>Kotak Mahindra Bank</p>
                <span><img src="{% static 'img/speaker-logo25.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>


        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker35.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/gokulbabyalex/" target="_blank">Gokul Alex</a></h3>
              <p>Associate Director</p>
              <p>PwC</p>
              <span><img src="{% static 'img/speaker-logo35.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker39.png' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/gokulbabyalex/" target="_blank">Jaynti Kanani</a></h3>
            <p>Co-founder & CEO</p>
            <p>Matic Network</p>
            <span><img src="{% static 'img/speaker-logo39.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>
    {% comment %}
      <div class="col-lg-3 col-md-6 col-xs-12">
        <!-- Team Item Starts -->
        <div class="team-item">
          <div class="team-img">
            <img class="img-fluid" src="{% static 'img/newspeaker36.jpg' %}" alt="">
          </div>
          <div class="info-text">
            <h3><a href="https://www.linkedin.com/in/prashanth-swaminathan-a345934/" target="_blank">Prashanth Swaminathan</a></h3>
            <p>Founder & CEO</p>
            <p>Tandem</p>
            <span><img src="{% static 'img/speaker-logo36.png' %}" alt="" ></span>
          </div>
        </div>
        <!-- Team Item Ends -->
    </div>
    {% endcomment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker18.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/shayzluf/" target="_blank">Shay Zluf</a></h3>
                <p>Core Developer</p>
                <p>Prysmatic Labs, Israel</p>
                <span><img src="{% static 'img/speaker-logo18.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker13.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://en.wikipedia.org/wiki/Pavan_Duggal" target="_blank">Dr.Pavan Duggal</a></h3>
              <p>Advocate (Cyberlaw)</p>
              <p>Supreme Court of India</p>
              <span class="img-fluid"><img src="{% static 'img/speaker-log11.png' %}" alt=""  ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker4.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.comp.nus.edu.sg/~dumitrel/" target="_blank">Dumitrel Loghin</a></h3>
              <p>Research Fellow</p>
              <p> NUS, Singapore</p>
              <span><img src="{% static 'img/speaker-logo3.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        
         {% comment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker22.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/gopikrishnan-konnanath-00a44a8/" target="_blank">Gopikrishnan Konnanath</a></h3>
              <p>SVP & Global Head Oracle Services and Blockchain</p>
              <p>Infosys</p>
              <span><img src="{% static 'img/speaker-log22.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% endcomment %}

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker12.jpg' %}" alt="" >
            </div>
            <div class="info-text">
              <h3><a href="https://researcher.watson.ibm.com/researcher/view.php?person=in-pankajdayama" target="_blank">Pankaj S Dayama</a></h3>
              <p>Senior Researcher</p>
              <p>IBM India Research Laboratory</p>
              <span class="img-fluid"><img src="{% static 'img/speaker-log10.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker010.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="http://cse.iitkgp.ac.in/~debdeep/" target="_blank">Debdeep Mukhopadhyay</a></h3>
              <p>Professor</p>
              <p>IIT, Kharagpur</p>
              <span class="img-fluid"><img src="{% static 'img/speaker-logo8.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker23.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/archana-ramakrishnan/" target="_blank">Archana Ramakrishnan</a></h3>
              <p> Director, innovation</p>
              <p> Conduent Labs</p>
              <span><img src="{% static 'img/speaker-logo23.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% comment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker11.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/rohasnagpal/" target="_blank">Rohas Nagpal</a></h3>
              <p>Chief Blockchain Architect</p>
              <p>Primechain Technologies</p>
              <span class="img-fluid"><img src="{% static 'img/speaker-logo9.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% endcomment %}

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker37.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/vikramnikkam/" target="_blank">Vikram Nikkam</a></h3>
                <p>Founder & CEO</p>
                <p>InstaCrypto</p>
                <span class="img-fluid"><img src="{% static 'img/speaker-logo37.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker19.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://souradyuti.com/" target="_blank">Souradyuti Paul</a></h3>
                <p> Associate Professor</p>
                <p>IIT Bhilai</p>
                <span><img src="{% static 'img/speaker-logo19.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>


        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker24.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/sukriti-jalali-a14406132/" target="_blank">Sukriti Jalali</a></h3>
              <p> Head - IoT & Blockchain</p>
              <p>Tata Consultancy Services</p>
              <span><img src="{% static 'img/speaker-logo24.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>


        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker5.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.comp.nus.edu.sg/~hungdang/" target="_blank">Hung Dang</a></h3>
              <p>Research Fellow</p>
              <p>NUS, Singapore</p>
              <span><img src="{% static 'img/speaker-logo3.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker20.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/in/jayavaradhansambedu/" target="_blank">Jayavaradhan Sambedu</a></h3>
                <p>Co-Founder & CTO</p>
                <p>Curl Analytics</p>
                <span><img src="{% static 'img/speaker-logo20.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker8.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/rajeshdhuddu/" target="_blank">Rajesh Dhuddu</a></h3>
              <p>Blockchain Leader</p>
              <p>Tech Mahindra</p>
              <span><img src="{% static 'img/sslogo7.png' %}" alt="" width="85" height="45"></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker50.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.linkedin.com/company/wavenet-solutions-private-limited/" target="_blank">Sanjay Bisen</a></h3>
                <p>CEO & President</p>
                <p>WaveNet Solutions Pvt. Ltd.</p>
                <span><img src="{% static 'img/speaker-logo50.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker52.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/company/lunex-ventures/" target="_blank">Tushar Aggarwal</a></h3>
              <p>Principal</p>
              <p>LuneX Ventures</p>
              <span><img src="{% static 'img/speaker-logo52 (1).png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
      </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker43.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/darshanbathija1/" target="_blank">Darshan Bathija</a></h3>
              <p>CEO</p>
              <p>Bank of Hodlers</p>
              <span><img src="{% static 'img/speaker-logo43.png' %}" alt=""></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker42.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/ravivyas/?originalSubdomain=in" target="_blank">Ravi Vyas</a></h3>
              <p>Co-Founder & CEO</p>
              <p>NextStepHQ</p>
              <span><img src="{% static 'img/speaker-logo42.png' %}" alt=""></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% comment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker45.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/leslie-d-monte-4985993/" target="_blank">Leslie D'Monte</a></h3>
              <p>Editor South</p>
              <p>HT Media Ltd</p>
              <span><img src="{% static 'img/speaker-logo45.png' %}" alt=""></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
        {% endcomment %}
        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker40.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/mayurrelekar/" target="_blank">Mayur Relekar</a></h3>
              <p>Founder</p>
              <p> Newfang</p>
              <span><img src="{% static 'img/speaker-logo40.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker46.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/nilotpal-mukherjee/?originalSubdomain=sg" target="_blank">Nilotpal Mukherjee</a></h3>
              <p>CBO</p>
              <p>Marlin Protocol</p>
              <span><img src="{% static 'img/speaker-logo46.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker21.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://www.iith.ac.in/~sathya_p/index_files/Publications.html" target="_blank">Sathya Peri</a></h3>
                <p>Professor</p>
                <p>IIT Hyderabad</p>
                <span><img src="{% static 'img/speaker-logo21.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker51.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/bensonsamuel/?originalSubdomain=in" target="_blank">Benson Samuel</a></h3>
              <p>Director Of Technology </p>
              <p>Tokenyz</p>
               <span><img src="{% static 'img/speaker-logo51.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
      </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker32.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/ramaswamymohan/" target="_blank">Mohan Ramaswamy</a></h3>
              <p>Co-Founder</p>
              <p> Terrago Logistics Pvt Ltd</p>
               <span><img src="{% static 'img/speaker-logo32.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
      </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker3.jpg' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/kar2905/" target="_blank">Kartik Mandaville</a></h3>
              <p>CEO</p>
              <p> SpringWorks</p>
              <span><img src="{% static 'img/speaker-logo4b.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker6.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/psanket/" target="_blank">Sanket Panchamia</a></h3>
              <p>Lead Blockchain Architect</p>
              <p>Unisys Global Services India</p>
              <span><img src="{% static 'img/speaker-logo5.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
            <!-- Team Item Starts -->
            <div class="team-item">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'img/newspeaker49.png' %}" alt="">
              </div>
              <div class="info-text">
                <h3><a href="https://twitter.com/munirieee" target="_blank">Munir Mohammed</a></h3>
                <p>Senior Programme Manager</p>
                <p>IEEE</p>
                <span><img src="{% static 'img/speaker-logo49.png' %}" alt="" ></span>
              </div>
            </div>
            <!-- Team Item Ends -->
          </div>

        <div class="col-lg-3 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item">
            <div class="team-img">
              <img class="img-fluid" src="{% static 'img/newspeaker7.png' %}" alt="">
            </div>
            <div class="info-text">
              <h3><a href="https://www.linkedin.com/in/shantanusharma/?originalSubdomain=in" target="_blank">Shantanu Sharma</a></h3>
              <p>Talk Show Host</p>
              <p>Hard Fork</p>
              <span><img src="{% static 'img/speaker-logo6.png' %}" alt="" ></span>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
      <span class="more">
        <p class="wow fadeInUp" data-wow-delay="0.4s" style= "padding-top:15px">More speakers will be announced soon...</p>
      </span>
    </div>
  </section>
  <!-- Team Section End -->


  <!-- Attend Section Start -->
  <section id="about" class="section-padding">
    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Why Attend</h2>
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <img class="img-responsive" src="{% static 'img/Keynotespeaker.png' %}" alt=" Speakers">
          <p>International Speakers</p>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <img class="img-responsive" src="{% static 'img/panel.png' %}" alt=" Speakers">
          <p>Technology leaders and Decision makers</p>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <img class="img-responsive" src="{% static 'img/master.png' %}" alt=" Speakers" style="margin-top:20px; ">
          <p>Hands on workshop</p>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <img class="img-responsive" src="{% static 'img/networking.png' %}" alt=" Speakers">
          <p>Collaboration opportunities</p>
        </div>

      </div>
    </div>
  </section>
  <!-- Attend Section End -->
  
    <!-- Video Section Start -->
    <div class="ready-to-play" >
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9" style="background:linear-gradient(to bottom, #141414 0, black 40%); ">
                <video class="embed-responsive-item" controls>
                  <source src="{% static 'img/Genesis DevCon 2.0 - The Conclusion.mp4' %}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <!-- Video Section End -->
  
  <!-- Testimonials Start -->
  {% comment %}
  <section id="schedules" class="schedule section-padding" style="height:500px">
    <div class="container" style="height: 450px">
      <div class="section-title-header text-center">
        <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Testimonials</h2>
        <p class="wow fadeInDown" data-wow-delay="0.2s">“IBC Media’s Genesis developer program has quitely built one of
          the biggest blockchain developer communities in the world. If blockchain is to achieve mainstream adoption,
          it needs developer adoption and participation, and the Genesis developer program attacks the heart of this
          problem. I’m excited to be a part of this event and I hope to see you all there!”</p>
        <div class="test-info">
          <p>- Abhishek Pitti</p>
          <p> Founder,CEO, Nucleus Vision</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  {% endcomment %}
  <!-- Testimonials Section End -->

  {% comment %}
  <!-- Schedule Section Start -->
  <section id="agenda" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Agenda</h1>
          </div>
        </div>
        </div>
        
        <div class="agenda-info wow fadeInDown" data-wow-delay="0.2s">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'img/Agenda01a.jpg' %}" alt="Day1-Hall A">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'img/Agenda02a.jpg' %}" alt="Day1-Hall B">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'img/Agenda03a.jpg' %}" alt="Day2 Hall A">
                  </div>
                  <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'img/Agenda04a.jpg' %}" alt="Day2 Hall B">
                    </div>
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

        </div> 
        <div class="col-12 text-center">
  <a href="{%  static 'img/Agenda_Genesis DevCon .pdf' %}" download ><button type="button" class="btn btn-common">Download Agenda</button></a>
      </div>
      </div>
    </div>
  </section>
  {% endcomment %}


  <!-- Sponsors Section Start -->
  <section id="sponsors" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sponsors</h1>
          </div>
        </div>
      </div>
      <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">

          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="spnsors-logo">
                <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/Tezos-logo.png' %}" alt="">
              </div>
          </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="spnsors-logo">
              <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/logo.png' %}" alt="">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="spnsors-logo">
              <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/Microsoft-Logo.png' %}" alt="">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="spnsors-logo">
              <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/Techmahindra-Logo.png' %}" alt="">
            </div>
        </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="spnsors-logo">
                <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/Kyber-Logo.png' %}" alt="">
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="spnsors-logo">
              <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/matic-logo.png' %}" alt="">
            </div>
        </div>
   
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="spnsors-logo">
            <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/11-Logo.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="spnsors-logo">
            <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/NV-Logo.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="spnsors-logo">
              <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="{% static 'img/IEEE-logo.png' %}" alt="">
            </div>
          </div>
        <div class="col-12 text-center">
          <a href="{% url 'sponsors' %}" class="btn btn-common">BECOME A SPONSOR</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Sponsors Section End -->


  <!-- Partners Section Start -->
  <section id="partners" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Partners</h1>
          </div>
        </div>
      </div>
      <div class="row mb-30 text-center wow fadeInDown" data-wow-delay="0.3s">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo1.png' %}" alt="">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo6.png' %}" alt="">
          </div>
      </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo2.png' %}" alt="">
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo3b.png' %}" alt="">
            </div>
        </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="partners-logo">
                <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo4.png' %}" alt="">
              </div>
          </div>
          
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/partner-logo5.png' %}" alt="">
          </div>
        </div>

          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/Biconomy.png' %}" alt="">
            </div>
        </div>
  
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo1.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo2.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo3.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo4.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo5.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo6.png' %}" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <div class="partners-logo">
            <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo7.png' %}" alt="">
          </div>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo8.png' %}" alt="">
            </div>
          </div>


        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo9.png' %}" alt="">
            </div>
          </div>


        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="partners-logo">
              <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo10.png' %}" alt="">
            </div>
          </div>

        
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
              <div class="partners-logo">
                <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo11.png' %}" alt="">
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo12.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo13.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo14.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo15.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo16.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo17.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo18.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo19.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo20.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo21.png' %}" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="partners-logo">
                  <img class="img-fluid wow fadeInRight" data-wow-delay="0.3s" src="{% static 'img/media-logo22.png' %}" alt="">
                </div>
              </div>

      </div>
    </div>
  </section>
  <!-- Partners Section End -->
  {% comment %}
  <!-- Download prospectus Section Start -->
  
  <section id="prospectus" class="section-padding">
    <div class="container">
        <div class="subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
            <h1 class="section-title">To Download Prospectus</h1>
            
            <form role="form" method="post" class="text-center form-inline" id="prospect-form" name="prospect-form" data-toggle="validator">
              <input type="email" class="mb-20 form-control" id="email" name="email" placeholder="Enter Your Email Here" required data-error="Please enter your Email">
              <div class="help-block with-errors"></div>
              <button type="submit" class="btn btn-common sub-btn" id="form-submit">
                <span><i class="lni-download"></i> Download</span></button>
              
            </form>
           
          </div>
    </div>
  </section>
  {% endcomment %}
    <!-- Download prospectus Section End -->

  <!-- Our Story Start -->
  <section id="story" class="section-padding text-center" style="height: 500px">
    <div class="container" style="height: 450px">
      <div class="section-title-header text-center">
        <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Story</h2>
        <p class="wow fadeInDown" data-wow-delay="0.2s">How we pulled off the world's largest Blockchain hackathon and
          started India's largest Blockchain community, here is <a href="{% url 'our-story' %}" style="text-decoration:underline; color: #ffff ">Our Story</a>.</p>
      </div>
      <div class="img-container">
        <img src="{% static 'img/DevCon-Logo.png' %}" alt="Genesis Devcon">
      </div>
      {% comment %}
      <a ><button onclick="popup('genesis-devcon-2019-302403');" class="btn btn-common"><span>Buy Tickets </span></button></a>

      <noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
      {% endcomment %}
    </div>
  </section>
  <!-- Our Story End -->
  {% comment %}
   <!--custom notificatio start  -->
  <section class="custom-social-proof">
    <div class="custom-notification">
      <div class="custom-notification-container">
        <div class="custom-notification-image-wrapper">
          <img src="https://img.icons8.com/nolan/64/000000/ticket.png">
        </div>
        <div class="custom-notification-content-wrapper">
          <p class="custom-notification-content">
            Ayushi Mishra - Mysore<br>Purchased Ticket<br>
          </p>
          <a href="https://www.townscript.com/e/genesis-devcon-2019-302403" target="_blank" style="text-decoration: underline; font-size: 15px;">Buy Now</a>
        </div>
      </div>
      <div class="custom-close"></div>
    </div>
  </section>
  <section class="custom-social-proof2">
    <div class="custom-notification">
      <div class="custom-notification-container">
        <div class="custom-notification-image-wrapper">
          <img src="https://img.icons8.com/nolan/64/000000/ticket.png">
        </div>
        <div class="custom-notification-content-wrapper">
          <p class="custom-notification-content">
            Sahil Gohri - Sonipat<br>Purchased Ticket
          </p>
          <a href="https://www.townscript.com/e/genesis-devcon-2019-302403" target="_blank" style="text-decoration: underline;font-size: 15px;">Buy Now</a>
        </div>
      </div>
      <div class="custom-close"></div>
    </div>
  </section>
  <section class="custom-social-proof3">
    <div class="custom-notification">
      <div class="custom-notification-container">
        <div class="custom-notification-image-wrapper">
          <img src="https://img.icons8.com/nolan/64/000000/ticket.png">
        </div>
        <div class="custom-notification-content-wrapper">
          <p class="custom-notification-content">
            Daniyal Shariff - Mysore<br>Purchased Ticket
          </p>
          <a href="https://www.townscript.com/e/genesis-devcon-2019-302403" target="_blank" style="text-decoration: underline;font-size: 15px;">Buy Now</a>
        </div>
      </div>
      <div class="custom-close"></div>
    </div>
  </section>
  <section class="custom-social-proof4">
    <div class="custom-notification">
      <div class="custom-notification-container">
        <div class="custom-notification-image-wrapper">
          <img src="https://img.icons8.com/nolan/64/000000/ticket.png">
        </div>
        <div class="custom-notification-content-wrapper">
          <p class="custom-notification-content">
            Amit Kumar - Bengaluru<br>Purchased Ticket
          </p>
          <a href="https://www.townscript.com/e/genesis-devcon-2019-302403" target="_blank" style="text-decoration: underline;font-size: 15px;">Buy Now</a>
        </div>
      </div>
      <div class="custom-close"></div>
    </div>
  </section>
  <section class="custom-social-proof5">
    <div class="custom-notification">
      <div class="custom-notification-container">
        <div class="custom-notification-image-wrapper">
          <img src="https://img.icons8.com/nolan/64/000000/ticket.png">
        </div>
        <div class="custom-notification-content-wrapper">
          <p class="custom-notification-content">
            Sanjay Rathod - Bengaluru<br>Purchased Ticket</p>
            <a href="https://www.townscript.com/e/genesis-devcon-2019-302403" target="_blank" style="text-decoration: underline;font-size: 15px;">Buy Now</a>
        </div>
      </div>
      <div class="custom-close"></div>
    </div>
  </section>
   <!--custom notificatio end  -->
   {% endcomment %}
{% endblock %}


{% block extrajs %}
<script>
  (function($){
    function submitForm(e){
      $('.alert').hide();
      $.ajax({
        url: '/api/prospect-application/',
        method: "POST",
        data: $(this).serialize(),
        beforeSend: function(request) {
          request.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function(data, textStatus, jQxhr) {
          console.log(data, textStatus, jQxhr);
          if (jQxhr['status'] === 200 || jQxhr['status'] === 201) {
            $('.alert-success').show();
          }
        },
        error: function(jQxhr, textStatus, errorThrown) {
          if (jQxhr['status'] === 400) {
            $('.alert-warning').show();
          }
          if (jQxhr['status'] === 500) {
            $('.alert-danger').show();
          }
        }
      });
      e.preventDefault();
    }

    $('#prospect-form').submit(submitForm);
  })(jQuery);
</script>
{% endblock %}

